/* ========================================================
===================== Estilos Globales ====================
======================================================== */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: black;
}

.cursor-personalizado {
  cursor: url(../img/cursor.png), auto;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: lightgrey;
  border: none;
  border-radius: 20px;
  color: black;
  font-family: 'Press Start 2P';
  font-size: .7em;
  line-height: 30px;
  display: block;
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  cursor: pointer;
}
button:hover{
  background: grey;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

p {
  text-transform: uppercase;
  font-size: .7em;
  text-align: right;
}

h3 {
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Press Start 2P';
}

/* ========================================================
==================== Estilos Title Bar ====================
======================================================== */

.title-bar {
  width: 100%;
  background: black;
}

.title-bar h1 {
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: 'Press Start 2P';
  background-color: black;
}

#guardar {
  position: fixed;
  margin: 10px 5px;
  right: 20px;
  top: 5px;
  width: 100px;
}

#select-super {
  position: fixed;
  right: 150px;
  top: 15px;
  width: 300px;
}


/* ========================================================
=================== Estilos Contenedor =====================
======================================================== */

#container {
  height: 90vh;
  padding-top: 110px;
  display: grid;
  grid-template-columns: 15% auto;
  justify-content: center;
  grid-gap: 40px;
}


/* ========================================================
====================== Estilos Camvas =====================
======================================================== */

#grilla-pixeles {
  background-color: white;
  width: 1035px;
  height: 650px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(53, auto);
  grid-template-rows: repeat(33, auto);
}


.pixel-grilla {
  background-color: #f8f8f8;
  outline: .5px solid black;
}



/* ========================================================
===================== Estilos Colores =====================
======================================================== */

#contenedor-colores {
  height: 650px;
}

#container-paleta {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  /* background-color: lightgrey; */
}

#paleta {
  /* position: relative; */
}

.color-paleta {
  display: inline-block;
  height: 27px;
  width: 27px;
  cursor: pointer;
  margin: 3px;
  border-radius: 50%;
}

#contenedor-colores button {
  margin-top: 20px;
}

.simplebar-scrollbar {
  background-color: lightgrey;
}
.simplebar-scrollbar:before {
  background-color: grey;
}

/* =========== Estilos Herramientas ========== */


 .input-color li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
   padding: 5px;
   color: white;
 }

 .input-color li:nth-child(1) {
   margin-left: 3px;
 }

 .input-color span:hover {
   color: grey;
   -webkit-transition: all 0.25s ease-in-out 0s;
           transition: all 0.25s ease-in-out 0s;
   cursor: pointer;
 }
 .input-color label:hover {
   color: grey;
   -webkit-transition: all 0.25s ease-in-out 0s;
           transition: all 0.25s ease-in-out 0s;
   cursor: pointer;
 }


/* ========================================================
====================== Estilos Modal ======================
======================================================== */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  width: 100%;
  max-width: 1440px;
  opacity: 0;
  pointer-events: none;
}

.button-modal {
  background: lightgrey;
  border-radius: 20px;
  color: black;
  font-family: 'Press Start 2P';
  font-size: .7em;
  line-height: 30px;
  display: inline-block;
  margin: 0 5px;
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  cursor: pointer;
}

#cerrar-modal {
  margin-top: 20px;
}

.modal .button-modal {
  width: 10%;
}

.button-modal:hover{
  background: grey;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #202020;
  pointer-events: none;
  opacity: 0;
  webkit-transform: scale(.5);
         transform: scale(.5);
}

input[type="checkbox"]:checked ~ .overlay {
  pointer-events: auto;
  opacity: 0.8;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
          transition: transform 0.5s ease, opacity 0.5s ease;
}

input[type="checkbox"]:checked ~ .modal {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
          transition: transform 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.1s;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
}

.imgs li {
  width: 25%;
  align-items: flex-start;
}

/* ========================================================
=================== Estilos Responsive ====================
======================================================== */

@media only screen and (max-width: 1060px) {
  #container {
    display: block;
    padding: 0;
  }

  #grilla-pixeles {
    width: 950px;
    height: 570px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .title-bar {
    text-align: left;
    padding-left: 20px;
  }
  #contenedor-colores {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 300px;
  }

  #container-paleta {
    height: 300px;
    width: 700px;
    margin-top: 30px;
  }

  main {
    width: 40%;
    padding-left: 10px;
    height: 300px;
  }

  .color-paleta {
    width: 23px;
    height: 23px;
  }
}

@media only screen and (max-width: 795px) {
  #container {
    display: block;
    padding: 0;
  }

  #grilla-pixeles {
    width: 680px;
    height: 440px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;

  }

  .title-bar {
    text-align: left;
    padding-left: 20px;
  }
  #contenedor-colores {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 300px;
  }

  #container-paleta {
    height: 300px;
    width: 700px;
  }

  main {
    width: 40%;
    padding-left: 10px;
    height: 300px;
  }
}
@media only screen and (max-width: 490px) {
  .title-bar {
    text-align: center;
  }

  #container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  #grilla-pixeles {
    width: 470px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .title-bar {
    text-align: center;
    padding-left: 0;
  }

  #contenedor-colores {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
  }

  #container-paleta {
    width: 450px;
    height: 330px;
    margin: 0 auto;
    margin-top: 20px;
  }

  main {
    width: 100%;
    padding-right: 10px;
  }

  .color-paleta {
    width: 13px;
    height: 13px;
  }


  p {
    font-size: .8em;
    text-align: right;
  }

  #guardar {
    top: 100px;
    left: 40%;
  }

  #select-super {
    top: 65px;
    left: 20%;
  }

  .imgs {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imgs li {
    width: 50%;
  }

.modal .button-modal {
    width: 50%;
  }
}
}
